.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(8, 150, 20)
    
}

.Background-empresas {
    margin-left: 0rem;
    width: 99vw;
    height: 100vh;
     display: flex;
    flex-direction: row;
    background-image: url('../../assets/predios.png');
    background-size: cover;
}

.Center {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 15rem;
    
}
@media only screen and (max-width: 1400px) {
    .Center{
    margin-left: 8rem;
    }
    }